<style>
    .Mainbody {
        background-color: white;
        padding-left: 12em;
        font-family:;
        font-size: 18px;
        color: black;
        /*text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    }

</style>
<body class="Mainbody">
    <h2>About Craft Beer Me:</h2><br />
    <h4>New to the Grand Rapids Craft Brew scene or just want to find a new favorite? </h4><br />

    <p>
        You've come to the right place!<br />
        Give us the style you're looking for a solid choice you know you'll like!<br />
        If you'd like to learn more about craft beer styles <a href="https://en.wikipedia.org/wiki/List_of_beer_styles">Research here!</a><br />
        Not sure what style you'd like? No problem! We can make a recommendation based on other factors like color, flavor, and how hoppy it is!<br />
        Or, if you want to explore/you're feeling brave, take a look at our randomizer button.


    </p>
</body>