<header>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            text-align: center;
        }
        .Mainbody {
            background-color: white;
            padding-left: 12em;
            font-family:;
            font-size: 18px;
            color: black;
            /*text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
        }
        .spacer {
            padding-left: 18em;
        }
    </style>
</header>

<h2>@ViewBag.Title</h2>
<h3>Meet the Dev Team:</h3>
<body class="Mainbody">
    <table>
        <tr>
            <th><img src="https://www.grandcircus.co/wp-content/uploads/2018/11/Andrew-Hatch.jpg" alt="Sean Keckler" width="200" /></th>
            <th><img src="https://www.grandcircus.co/wp-content/uploads/2018/11/Jonathan-DeRuiter.jpg" alt="Sean Keckler" width="200" /></th>
            <th><img src="https://www.grandcircus.co/wp-content/uploads/2018/11/Sean-Kessler.jpg" alt="Sean Keckler" width="200" /></th>
        </tr>
        <tr>
            <td>Andrew Hatch</td>
            <td>Jonathan DeRuiter</td>
            <td>Sean Keckler</td>
        </tr>
        <tr>
            <td><email>hatcha144@gmail.com</email></td>
            <td><email>jonathanhderuiter@gmail.com</email></td>
            <td><email>seankeckler@gmail.com</email></td>
        </tr>
        <tr>
            <td>
                <abbr title="Phone">P:</abbr>
                616.566.6720
            </td>
            <td>
                <abbr title="Phone">P:</abbr>
                616.229.0460
            </td>
            <td>
                <abbr title="Phone">P:</abbr>
                616.617.6191
            </td>
        </tr>
        <tr>
            <td>
                <a href="">LinkedIn</a><br />
                <a href="https://github.com/hatcha144">GitHub</a>
            </td>
            <td>
                <a href="https://www.linkedin.com/in/jonathan-deruiter/">LinkedIn</a><br />
                <a href="https://github.com/JonDeRuiter">GitHub</a>
            </td>
            <td>
                <a href="">LinkedIn</a><br />
                <a href="https://github.com/Seankeckler">GitHub</a>
            </td>
        </tr>
        <tr></tr>
    </table>
</body>