<!DOCTYPE html>
<style>
    .Mainbody {
        background-color: white;
        padding-left: 12em;
        font-family:;
        font-size: 18px;
        color: black;
        /*text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    }
    .button1 {
        border-radius: 8px;
        border: hidden;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Flight</title>
</head>
<body class="Mainbody">
    <h3>Have a Brewery in mind but don't know what style you'll like?</h3>
    <form method="post" action="FlightExplorer" class="box">
        @*These values equate to where breweries are in the db*@
        <select name="flighty" class="accentOne">
            <option value="3">Atwater Brewery</option>
            <option value="5">Brewery Vivant</option>
            <option value="6">Elk Brewing</option>
            <option value="7">Founders Brewing</option>
            <option value="8">Harmony Brewing</option>
            <option value="9">Hideout Brewery</option>
            <option value="14">Hopcat Brewery</option>
            <option value="2">Jolly Pumpkin</option>
            <option value="4">New Holland Brewery: Knickerbocker</option>
            <option value="10">Peoples Cider</option>
            <option value="11">Perrin Brewery</option>
            <option value="12">Rockford Brewing</option>
            <option value="1">Schmohz Brewing</option>
            <option value="13">The Mitten Brewery</option>
        </select>
        <input class="button1" type="submit" value="Explore a Variety of Styles" />
        <br />
        <br />
    </form>
</body>
</html>
