<header></header>
<title>Craft Beer Me</title>
<style>
    #p1 {background-color: rgb(255, 187, 51);}
    #p2 {background-color: rgb(255, 107, 1);}
    #p3 {background-color: rgb(162, 48, 0);}
    #p4 {background-color: rgb(108, 13, 0);}
    #p5 {background-color: rgb(71, 5, 9);}

    #Body {
        background-color: #895e4f
    }

</style>
<h1>
    Welcome to Beer City!
</h1>
<body class="Body">
    <form action="styleSearch" method="post">
        <h3>Search by Popular Beers</h3>
        <select name="style">
            <option value="1">Optional</option>
            <option value="Pils">Miller Lite</option>
            <option value="Stout">Guinness</option>
            <option value="Belgian">Blue Moon</option>
            <option value="Lager">Budweiser</option>
            <option value="Ale">Bells Two Hearted</option>
            <option value="Cider">Strongbow</option>
            <option value="Porter">Great Lakes Edmund Fitzgerald</option>
            <option value="Wheat">Bell's Oberon</option>
            <option value="Sour">Jolly Pumpkin La Roja </option>
        </select>
        <br />
        <br/>
        <input type="submit" value="Popular Search" />
    </form>
    <br />

    <h3>Have a Brewery in mind but don't know what style you'll like?</h3>
    <form method="post" action="FlightExplorer">
        @*These values equate to where breweries are in the db*@
        <select name="flighty">
            <option value="3">Atwater Brewery</option>
            <option value="5">Brewery Vivant</option>
            <option value="6">Elk Brewing</option>
            <option value="7">Founders Brewing</option>
            <option value="8">Harmony Brewing</option>
            <option value="9">Hideout Brewery</option>
            <option value="14">Hopcat Brewery</option>
            <option value="2">Jolly Pumpkin</option>
            <option value="4">New Holland Brewery: Knickerbocker</option>
            <option value="10">Peoples Cider</option>
            <option value="11">Perrin Brewery</option>
            <option value="12">Rockford Brewing</option>
            <option value="1">Schmohz Brewing</option>
            <option value="13">The Mitten Brewery</option>
        </select>
        <input type="submit" value="Explore a Variety of Styles" />
        <br />
        <h3>Want a little more control over a specific quality of your beer?</h3>
    </form>
    <form action="BeerNums" method="post">
        <p>Alcohol Content</p>
        <select name="ABV">
            <option value="1">Let's keep it light</option>
            <option value="2">A happy medium</option>
            <option value="3">More the merrier!</option>
        </select>
        <br /><br />
        <p>Hoppy or Not</p>
        <select name="IBU">
            <option value="1">Not that much please</option>
            <option value="2">Somewhere in the middle</option>
            <option value="3">The hoppier the better</option>
        </select>
        <br /><br />
        <p>Color</p>
        <select name="SRM">
            <option id="p1" value="1">Light</option>
            <option id="p2" value="2">Medium Light</option>
            <option id="p3" value="3">Medium</option>
            <option id="p4" value="4">Medium Dark</option>
            <option id="p5" value="5">Dark</option>
        </select>

        <br /><br />           
        <p>Flavors</p>
        <input list="flavors" type="text" placeholder="Optional" name="flavor"/>   
        <datalist id="flavors">
            <option value="fruity">
            <option value="caramel">
            <option value="coffee">
        </datalist>
        <input type="submit" value="Craft Beer Me!" />
    </form>
    <br />
    <h3>Know what style you'd like to explore?</h3>

    <form action="styleSearch" method="post">
        <h3>Search by Style</h3>
        <select name="style">
            <option value="1">Optional</option>
            <option value="Ale">Pale Ale/IPA</option>
            <option value="Belgian">Belgian</option>
            <option value="Cider">Cider</option>
            <option value="Lager">Lager</option>
            <option value="Pils">Pilsner</option>
            <option value="Porter">Porter</option>
            <option value="Sour">Sours</option>
            <option value="Stout">Stout</option>
            <option value="Wheat">Wheat</option>
        </select>
        
        <input type="submit" value="Style Search" />
    </form>
</body>
<footer></footer>