<style>
    .Mainbody {
        background-color: white;
        padding-left: 12em;
        font-family:;
        font-size: 18px;
        color: black;
        /*text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    }

    .button1 {
        border-radius: 8px;
        border: hidden;
        background-color: blue;
    }
</style>

<!DOCTYPE html>
@model IEnumerable<Craft_Beer_Me.Models.Brewery>
<html>
<head>
</head>
@{ var brewery = (Craft_Beer_Me.Models.Brewery)Session["barMenu"];}
<body class="Mainbody">
    <div>
        
        <form>
            <input list="beers" type="text" placeholder="Required" name="beer1" />
            <datalist id="beers">
                @foreach (var beer in brewery.Menu)
                {
                    <option value="@beer.BeerName" />
                }
            </datalist>
            <input list="beers" type="text" placeholder="Required" name="beer2" />
            <datalist id="beers">
                @foreach (var beer in brewery.Menu)
                {
                    <option value="@beer.BeerName" />
                }
            </datalist>
            <input list="beers" type="text" placeholder="Optional" name="beer3" />
            <datalist id="beers">
                @foreach (var beer in brewery.Menu)
                {
                    <option value="@beer.BeerName" />
                }
            </datalist>
            <input  list="beers" type="text" placeholder="Optional" name="beer4" />
            <datalist id="beers">
                @foreach (var beer in brewery.Menu)
                {
                    <option value="@beer.BeerName" />
                }
            </datalist>
            <p>I've Enjoyed these Beers. </p>
            <input type="submit" value="Tell me what else I might like."/>
        </form>
    </div>
</body>
</html>
