<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StyleSearch</title>
</head>
<body>
    <form action="styleSearch" method="post" class="box">
        <h3>Search by Popular Beers</h3>
        <select name="style" class="accentOne">
            <option value="1">Common Brews</option>
            <option value="Pils">Miller Lite</option>
            <option value="Stout">Guinness</option>
            <option value="Belgian">Blue Moon</option>
            <option value="Lager">Budweiser</option>
            <option value="Ale">Bells Two Hearted</option>
            <option value="Cider">Strongbow</option>
            <option value="Porter">Great Lakes Edmund Fitzgerald</option>
            <option value="Wheat">Bell's Oberon</option>
            <option value="Sour">Jolly Pumpkin La Roja </option>
        </select>
        <input class="accentOne" type="submit" value="Which Craft Beer is like this?" />
    </form>
</body>
</html>
