<br />
<br />
<h2>It appears that our breweries don't appeal to your tastes.</h2>
<br />
<p>As a typical rule: Darker the beers will have more alcohol and will have a higher bitterness.</p>
<form action="Index">
    <input type="submit" value="Try a different search"/>
</form>