<style>
    .bgcolor {
        background-image: url("/Content/Saloon.jpg");
        height: 100%;
        background-position: center;
        background-size: cover;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 18px;
        color: gold;
        text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    }
</style>
<body>
<br />
<br />
<h2>It appears that our breweries don't appeal to your tastes.</h2>
<br />
<p>As a typical rule: Darker the beers will have more alcohol and have a higher bitterness.</p>
<form action="Index">
    <input type="submit" value="Try a different search"/>
</form>
</body>