<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>StyleSearch</title>
</head>
<body>
    <h3>Know what style you'd like to explore?</h3>
    <form action="styleSearch" method="post" class="box">
        <h3>Search by Style</h3>
        <select name="style" class="accentOne">
            <option value="1">Beer Style</option>
            <option value="Ale">Pale Ale/IPA</option>
            <option value="Belgian">Belgian</option>
            <option value="Cider">Cider</option>
            <option value="Lager">Lager</option>
            <option value="Pils">Pilsner</option>
            <option value="Porter">Porter</option>
            <option value="Sour">Sours</option>
            <option value="Stout">Stout</option>
            <option value="Wheat">Wheat</option>
        </select>
        <input type="submit" value="Style Search" class="accentOne" />
    </form>
</body>
</html>
