
<!DOCTYPE html>
<style>
    .Mainbody {
        background-color: white;
        padding-left: 12em;
        font-family:;
        font-size: 18px;
        color: black;
        /*text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    }
    .spacer {
        padding-left: 18em;
    }
    .button1 {
        border-radius: 8px;
        border: hidden;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="Mainbody">
    <p>Do you have specific tastes?</p>
    <div class="spacer">
        <form action="QualitySearch">
            <input class="button1" type="submit" value="Yes" />
        </form><br />
        <form action="StepThree">
            <input class="button1" type="submit" value="No" />
        </form>
    </div>
</body>
</html>
