
<!DOCTYPE html>
<style>
    .Mainbody {
        padding-left: 420px;
        font-family:;
        font-size: 18px;
        color: black;
        /*text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
    }
    .spacer {
        padding-left: 18em;
    }
    .button1 {
        border-radius: 8px;
        border: hidden;
    }
</style>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body class="Mainbody" style="padding-top: 10%">
    <h2>Do you have a kind of beer you like?</h2>
    <div class="spacer">
        <form>
            <input formaction="SearchByStyle" class="button1 btn-lg" type="submit" value="Yes" />        
            <input formaction="QualitySearch" class="button1 btn-lg" type="submit" value="No" />
        </form>
    </div>
</body>
</html>
